.separator {
  background-color: #ddd; /* neutral border color */
  flex-shrink: 0;
}

/* Horizontal separator */
.separator-horizontal {
  width: 100%;
  height: 1px;
}

/* Vertical separator */
.separator-vertical {
  width: 1px;
  height: 100%;
}
